{% extends 'base.html.twig' %}

{% block title %}Clos de l'Epinay - Equipe{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
        <div class="col-lg-4 py-3">
            <div class="card text-center">
                <img src="{{ asset('art-74050_1920.jpg') }}"
                     class="portrait-image img-thumbnail"
                     alt="#">
                <div class="card-body">
                    <h3 class="card-title">Marie-Francine DUTRONC</h3>
                    <p>Aenean fermentum nisl justo, eget pretium nisi iaculis nec. Suspendisse eget interdum augue. Vestibulum iaculis laoreet odio id pretium. Etiam sodales enim a hendrerit euismod. Sed sodales elementum metus, at tincidunt augue mollis eget. Aliquam erat volutpat. Fusce posuere tortor et accumsan ultrices. Nam dapibus quam eros, vitae euismod nunc dignissim a. Vivamus tempus accumsan suscipit. Maecenas nec leo non mi efficitur semper. Donec in ligula lectus. Vivamus volutpat ex vitae bibendum egestas. Vivamus nec mauris tellus. Curabitur in pharetra tortor. Ut eu lorem non ex tincidunt malesuada in ac ante.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 py-3">
            <div class="card text-center">
                <img src="{{ asset('art-4178302_1920.jpg') }}"
                     class="portrait-image img-thumbnail"
                     alt="#">
                <div class="card-body">
                    <h3 class="card-title">Huguette MONTREUIL</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida leo laoreet dapibus laoreet. Proin lorem mauris, pulvinar vel vulputate et, suscipit vel lectus. Curabitur lobortis sit amet libero et tristique. Cras malesuada, risus ac blandit blandit, metus nulla fermentum lacus, eget vestibulum nunc magna ornare leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla mi. Donec ullamcorper ante vel aliquet interdum. Nunc dignissim dolor ac mattis auctor. Vivamus ac sollicitudin elit.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 py-3">
            <div class="card text-center">
                <img src="{{ asset('watercolour-2168706_1920.jpg') }}"
                     class="portrait-image img-thumbnail"
                     alt="#">
                <div class="card-body">
                    <h3 class="card-title">Jean-Eudes CASTOR</h3>
                    <p>In hac habitasse platea dictumst. Fusce gravida porttitor nisl, vitae consectetur diam tristique non. Nunc eu elementum velit. Maecenas a felis luctus, hendrerit justo non, finibus nulla. Pellentesque congue condimentum consequat. Donec ultrices tellus sodales purus sagittis tristique. Mauris ac eros eu ipsum egestas condimentum. Sed dignissim ornare erat, at auctor sapien malesuada quis. Cras at maximus nulla.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
