{% extends 'base.html.twig' %}

{% block title %}Edit Booking{% endblock %}

{% block body %}
    <div class="p-5">
        <h1 class="text-center">Modifier la réservation</h1>
        {{ include('booking/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        {{ include('booking/_delete_form.html.twig') }}
    </div>
{% endblock %}
