<footer class="footer mt-auto pt-3 text-center">
    <div class="text-center p-1">
        <p>
            <!-- Address -->
            <a href="https://www.google.com/maps/place/Le+Clos+de+l'Epinay/
        @47.41967,0.8099013,17z/data=!3m1!4b1!4m8!3m7!1s0x47fcd29bb46e421f:
        0xfd4d4976d06b1d5c!5m2!4m1!1i2!8m2!3d47.41967!4d0.81209" target="_blank">
                <i class="bi bi-geo-alt"></i> Le Clos De L'Epinay, 37210 Vouvray
            </a>
            <!-- Facebook -->
            <a class="btn btn-outline btn-floating rounded-circle" href="#" role="button"
            >
                <i class="bi bi-facebook"></i>
            </a>
            <!-- Instagram -->
            <a class="btn btn-outline btn-floating rounded-circle" href="#" role="button"
            ><i class="bi bi-instagram"></i>
            </a>
        </p>
    </div>
</footer>
